<div class="container col-6" style="margin-top: 20px;" *ngFor='let ponto of pontoId'>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" [(ngModel)]='ponto.nome' name="nome">
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" [(ngModel)]='ponto.endereco' name="endereco">
        </div>

        <button type="submit" class="btn btn-success" (click)='mostraGeocode(ponto.nome, ponto.endereco)'>Confirmar</button>
    </form>
</div>