<form action="/action_page.php">
    <div class="form-inline">
        <div>
            <input type="text" class="form-control m-4" [(ngModel)]='nome' name="nome" placeholder="Buscar por nome">
        </div>
        <div>
            <button type="submit" class="btn btn-success" (click)='getPontosByName(nome)'>Confirmar</button>
        </div>
    </div>
</form>
<div class="container" class="col-12">
    <table class="table table-striped ">
        <thead>
            <tr>

                <th>Nome</th>
                <th>Endereço</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let ponto of listPontos'>

                <td>{{ponto.nome}}</td>
                <td>{{ponto.endereco}}</td>
                <td>{{ponto.latitude}}</td>
                <td>{{ponto.longitude}}</td>
                <td><button class="btn btn-primary" type="button" (click)="showEditPonto(ponto.id)">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>